.magenta {
    background-color: orange;
}

.card {
    background-color: lightpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 50px;
}

body{
    background-color: rosybrown;
}