.magenta {
    font: Helvetica, "Helvetica Neue", Arial, sans-serif;
    background-color: orange;
}
.name {
    font-weight: bold;
    font-size: larger;
}
.grid {
    background-color: pink;
}
.body {
    background-color: rosybrown;
}
.port-img {
    max-width: 100%;
    height: auto; 
}
body{
    background-color: red;
}
