.magenta {
    font: Helvetica, "Helvetica Neue", Arial, sans-serif;
    background-color: orange;
}
.name {
    font-weight: bold;
    font-size: larger;
}
.image {
    margin: 33%;
    padding: float left;
} 
.grid {
    background-color: pink;
}
.body {
    background-color: rosybrown;
}